.progress {
    margin: 20% 50px;
}

nav.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin-top: 76px;
}

.alert {
    bottom: 0;
    position: absolute;
    right: 12px;
    z-index: 99;
}