<template>
  <div>
    {{ serverStatus }}

    <v-simple-table dense>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">#</th>
            <th class="text-left">Title</th>
            <th>Status On Okazar</th>
            <th>Okazar Link</th>
            <th>Realtor Link</th>
            <th>Status on Realtor</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="listing in listings" :key="listing.id">
            <td>{{ listing.id }}</td>
            <td>{{ listing.title }}</td>
            <td>
              {{ listing.status }}
            </td>
            <td>
              <v-btn depressed color="primary" :href="listing.okazarLink">
                Okazar
              </v-btn>
            </td>
            <td>
              <v-btn depressed color="primary" :href="listing.realtorLink">
                Realtor
              </v-btn>
            </td>
            <td></td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "ListingsTable",
  data() {
    return {
      listings: [],
      serverStatus: false,
    };
  },
  created() {
    this.getAllListings();
    this.checkIfServerUp();
  },
  methods: {
    getAllListings() {
      axios
        .get("https://okazar.com/crondel/test.php")
        .then((resp) => resp.data)
        .then((data) => {
          console.log(data);
          for (let index = 0; index < data.length; index++) {
            const element = data[index];
            axios
              .get(`http://127.0.0.1:1337/isDeleted?url=${element.realtorLink}`)
              .then((resp) => {
                console.log(resp.data);
                element.realtorStaus = resp.data;
              });
          }
          this.listings = data;
        })
        .catch(console.error);
    },
    checkIfServerUp() {
      axios
        .get("http://127.0.0.1:1337/")
        .then((resp) => resp.data)
        .then((data) => {
          console.log(data);
          this.serverStatus = data;
        })
        .catch(console.error);
    },
  },
};
</script>